In [7]:
from sqlalchemy import create_engine
import pandas as pd
from config import DB_USER, DB_PASS
!pip install psycopg2 # Install

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/83/8d/bbb2ca983f3939066e8d104fe7a7b0fce1fd3d0f706ddb6d8a86bb33f5da/psycopg2-2.8.5-cp37-cp37m-win_amd64.whl (1.1MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.5

In [12]:
# default
engine = create_engine(f'postgresql://{DB_USER}:{DB_PASS}@localhost/Employees')
#engine = create_engine(f'postgresql://postgres:Bootcamp2017@localhost/Employees')
connection = engine.connect()

In [14]:
salaries=pd.read_sql("select * from salaries", connection)
salaries.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228